workflow.json
{
  "name": "Google Drive File Sharing Automation",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "13MD0_LQK6y66PkijoALLI7vzhLNtMoYZ",
          "mode": "list",
          "cachedResultName": "Test Demo",
          "cachedResultUrl": "https://drive.google.com/drive/folders/13MD0_LQK6y66PkijoALLI7vzhLNtMoYZ"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "78635564-7d47-41ae-b13e-907f257685ee",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "fIs0R1PgjPHaY8R3",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "share",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "permissionsUi": {
          "permissionsValues": {
            "role": "writer",
            "type": "user",
            "emailAddress": "hosseinspiyani@gmail.com"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        224,
        0
      ],
      "id": "3452564a-617f-47ab-a8a5-de60fcf5623c",
      "name": "Share file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "fIs0R1PgjPHaY8R3",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "apprq7jOnhwxExzDx",
          "mode": "list",
          "cachedResultName": "Untitled Base",
          "cachedResultUrl": "https://airtable.com/apprq7jOnhwxExzDx"
        },
        "table": {
          "__rl": true,
          "value": "tblmDwiZfQAu8KC8B",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/apprq7jOnhwxExzDx/tblmDwiZfQAu8KC8B"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Creation Time": "={{ $('Google Drive Trigger').item.json.createdTime }}",
            "File ID": "={{ $('Google Drive Trigger').item.json.id }}",
            "Recipiend Email": "hosseinspiyani@gmail.com"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "File ID",
              "displayName": "File ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Creation Time",
              "displayName": "Creation Time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Recipiend Email",
              "displayName": "Recipiend Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Attachments",
              "displayName": "Attachments",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Attachment Summary",
              "displayName": "Attachment Summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        448,
        0
      ],
      "id": "baac23ea-b381-497b-90f3-7eb36cc26fb5",
      "name": "Create a record",
      "credentials": {
        "airtableOAuth2Api": {
          "id": "YRaQUlENqqyb38fH",
          "name": "Airtable OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Share file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Share file": {
      "main": [
        [
          {
            "node": "Create a record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "6e1ecbb6-81c8-4599-b01c-57745b9c2c06",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "957bbaac65a6c32fdd85ca28a85c72e613a668f431733437ee2327647f8b6435"
  },
  "nodeGroups": [],
  "id": "qmMbb3ywGwKzsFkG",
  "tags": []
}